@tailwind base;
@tailwind components;
@tailwind utilities;

.center-parent-container {
    width: 90%;
    max-width: 1280px;
}

.text-title {
    @apply text-white w-2/4 text-start pb-4
}

.form-element {
    @apply m-4 flex flex-col  justify-start
}

.loader-comp {
    left: 48%;
    top: 50%;
    @apply z-10 fixed
}

.swiper-pagination-bullet {
    background-color: #9f9f9f; /* Bullet color */
    opacity: 1;
    width: 8px;
    height: 8px;
}

.swiper-pagination-bullet-active {
    background-color: #007bff; /* Active bullet color */
    opacity: 1;
    width: 8px;
    height: 8px;
    transform: scale(1.2);
}

.how-does-it-work {
    height: 80%;
    @apply flex sm:hidden mt-10 h-96
}

.input-box {
    @apply p-2 rounded-lg
}

.form-wrapper {
    @apply flex flex-col w-100p md:w-9/12 lg:w-6/12
}

.w-30p {
    width: 30%
}

.w-50p {
    width: 50%
}

.w-100p {
    width: 100%
}

.section {
    @apply flex flex-col items-center justify-center gap-4 md:py-10;
}