.scrolling-wrapper {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  .paused .scrolling-wrapper {
    animation-play-state: paused;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }